<form class="submit" action=''>
  <input id="entry_box" placeholder="Enter values">
  <button id="enter">Enter</button>
</form>      
<h3>RESULTS!</h3>
<p>Mean: {{mean}}

   Median: {{median}}

   Mode: {{mode}}</p>
